<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Weather!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    {% load staticfiles %}
    <link rel="icon" href="{% static 'home/images/ic_clear.png' %}" type="image/png" sizes="16x16">

</head>
<body style="background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);"> {#https://webgradients.com/#}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent justify-content-center">
{#        <a class="navbar-brand" href="{% url 'index' %}" style="font-family: 'Shadows Into Light', cursive; font-size: xx-large; color: #fff">Hello Weather!</a>#}
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'home/images/ic_logo.png' %}"/>
    </a>

</nav>
<div class="container">
    {% block body %}

    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>